h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

.triangulo{
    justify-content: center;
    align-items: center;
    display:flex
}

.input-tria{
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 20px;
}

.img-tria{
    width: 205px;
    height: 250px;
    background-image: url(../images/triangulo.png);
    background-size: cover;
    margin: 30px;
}

.cuadrado{
    justify-content: center;
    align-items: center;
    display:flex
}

.input-cua{
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 20px;
}

.img-cua{
    width: 250px;
    height: 250px;
    background-image: url(../images/cuadrado.png);
    background-size: cover;
    margin: 30px;
}

.paralelepipedo{
    justify-content: center;
    align-items: center;
    display:flex
}

