body{
    justify-content: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

.boton-seleccion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    margin-left: 37%;
}

.triangulo, .cuadrado, .rectangulo, .rombo, .trapec, .circulo, .esfera, .cubo, .paralelepipedo, .cilindro, .cono{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: row;
}

.input-tria, .input-cua, .input-rec, .input-rom, .input-tra, .input-circ, .input-esfera, .input-cubo, .input-paralele, .input-cilindro, .input-cono{
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 20px;
}

.img-tria{
    width: 205px;
    height: 250px;
    background-image: url(../images/triangulo.png);
    background-size: cover;
    margin: 30px;
}

.img-cua{
    width: 275px;
    height: 250px;
    background-image: url(../images/cuadrado.png);
    background-size: cover;
    margin: 30px;
}

.img-rec{
    height: 250px;
    width: 370px;
    margin: 30px;
    background-size: cover;
    background-image: url(../images/romboide.jpg)
}

.img-rom{
    height: 250px;
    width: 250px;
    margin: 30px;
    background-size: cover;
    background-image: url(../images/rombo.png)
}

.img-tra{
    height: 250px;
    width: 250px;
    margin: 30px;
    background-size: cover;
    background-image: url(../images/trapecio.png)
}

.img-circ{
    height: 250px;
    width: 250px;
    margin: 30px;
    background-size: cover;
    background-image: url(../images/circulo.png)
}

.img-esf{
    height: 250px;
    width: 200px;
    margin: 30px;
    background-size: cover;
    background-image: url(../images/esfera.jpg)
}

.img-cubo{
    height: 250px;
    width: 250px;
    margin: 30px;
    background-size: cover;
    background-image: url(../images/cubo.png)
}

.img-cilin{
    height: 250px;
    width: 250px;
    margin: 30px;
    background-size: cover;
    background-image: url(../images/cilindro.png)
}

.img-cono{
    height: 250px;
    width: 280px;
    margin: 30px;
    background-size: cover;
    background-image: url(../images/cono.png)
}